.cabecalho{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 24px 0;
    justify-content: space-around;
}

.section1{
    background-color: rgb(231, 9, 9);
    padding: 100px;
}

.section2{
    background-color: aqua;
    padding: 100px;
}

.cabecalho-imagem{
    width: 14%;
}

.rodape{
    background-color: darkblue;
    padding: 50px;
}